body {
    background-color: black;
    color: red;
}

#home {
    height: 90%;
}

.chevron-middle {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
	color: red;
	font-size: 50px;
}
